.cluster-0
  background-color rgba(88,181,225, 1)
.cluster-1
  background-color rgba(201,221,135, 1)
.cluster-2
  background-color rgba(158,146,238, 1)
.cluster-3
  background-color rgba(85,207,137, 1)
.cluster-4
  background-color rgba(212,119,103, 1)
.cluster-5
  background-color rgba(112,140,87, 1)
.cluster-6
  background-color rgba(219,119,230, 1)
.cluster-7
  background-color rgba(44,245,43, 1)
.cluster-8
  background-color rgba(239,61,118, 1)
.cluster-8
  background-color rgba(157,234,25, 1)
