.clusterBG-0
  background-color rgba(88,181,225, 1)
.clusterBG-1
  background-color rgba(201,221,135, 1)
.clusterBG-2
  background-color rgba(158,146,238, 1)
.clusterBG-3
  background-color rgba(85,207,137, 1)
.clusterBG-4
  background-color rgba(212,119,103, 1)
.clusterBG-5
  background-color rgba(112,140,87, 1)
.clusterBG-6
  background-color rgba(219,119,230, 1)
.clusterBG-7
  background-color rgba(44,245,43, 1)
.clusterBG-8
  background-color rgba(239,61,118, 1)
.clusterBG-9
  background-color rgba(157,234,25, 1)

.clusterFill-0
  fill rgba(88,181,225, 1)
.clusterFill-1
  fill rgba(201,221,135, 1)
.clusterFill-2
  fill rgba(158,146,238, 1)
.clusterFill-3
  fill rgba(85,207,137, 1)
.clusterFill-4
  fill rgba(212,119,103, 1)
.clusterFill-5
  fill rgba(112,140,87, 1)
.clusterFill-6
  fill rgba(219,119,230, 1)
.clusterFill-7
  fill rgba(44,245,43, 1)
.clusterFill-8
  fill rgba(239,61,118, 1)
.clusterFill-9
  fill rgba(157,234,25, 1)
