figure
  width auto
  background #fefefe
  border 2px solid #fcfcfc
  box-shadow 0 1px 2px rgba(34, 25, 25, 0.4)
  margin 0 2px 15px
  padding 15px
  padding-bottom 10px
  transition opacity .4s ease-in-out
  display inline-block

figure .title
  text-align center

figure img
  height auto
  margin auto
  border-bottom 1px solid #ccc
  padding-bottom 15px
  margin-bottom 5px
  display block
  max-width 230px
  max-height 300px
  width auto
  height auto

.drinkware
  padding 0 0 0 0
  margin 0 0 1px 0

.served
  padding 0 0 0 0
  margin 0 0 1px 0

.directions
  padding 0 0 0 0
  margin 0 0 1px 0

.ingredients li
  margin: 0 0 0 0

.ingredients
  margin-bottom 2px

figure input
  margin 0 0 0 0
  width 100%
  background-color whitesmoke !important

.clusterCard-0
  background-color rgba(79,140,157, 0.4)
.clusterCard-1
  background-color rgba(228,26,114, 0.4)
.clusterCard-2
  background-color rgba(22,208,174, 0.4)
.clusterCard-3
  background-color rgba(132,36,17, 0.4)
.clusterCard-4
  background-color rgba(167,232,49, 0.4)
