.clusterBrowser .one.column
  width 8.33333333333%
  margin-left 0
.clusterBrowser .two.columns
  width 16.66666666667%
  margin-left 0
.clusterBrowser .three.columns
  width 25%
  margin-left 0

div[class^='row cluster-']
  margin-bottom 0.2em
  padding 0.5em 0.5em 0.5em 0.5em
  border-radius 5px

.clusterItem
  text-align center
  cursor pointer
  display inline-block
  transition background-color 0.4s ease-in-out
  transition color 0.4s ease-in-out

.clusterItem span
  font-size 12px

.clusterItem:hover, .clusterItem.highlighted
  background-color rgba(0,0,0,0.75)
  color whitesmoke
  border-radius 5px
  transition background-color 0.2s ease-in-out
  transition color 0.2s ease-in-out

.clusterItem img
  border-radius 100%
  display block
  margin auto
  width 42px
  height 42px
