div[class^='row cluster-']
  margin-bottom 1em
  padding 1em 1em 1em 1em

.clusterItem
  cursor pointer
  display inline-block
  margin-right 1em
  transition background-color 0.4s ease-in-out
  transition color 0.4s ease-in-out

.clusterItem:hover
  background-color rgba(0,0,0,0.75)
  color whitesmoke
  transition background-color 0.2s ease-in-out
  transition color 0.2s ease-in-out


.clusterItem.highlighted
  background-color rgba(0,0,0,0.75)
  color whitesmoke
  transition background-color 0.4s ease-in-out
  transition color 0.4s ease-in-out


.clusterItem img
  display block
  margin auto
  width 32px
  height 32px
