#columnLayout
  column-width 320px
  column-gap 15px
  width 90%
  max-width 1100px
  margin 50px auto

div#columnLayout
  figure
    column-break-inside avoid
  &:hover
    figure
      &:not(:hover)
        opacity 0.4

@media screen and (max-width: 750px)
  #columnLayout
    column-gap 0px
    figure
      width 100%
