@import '../../node_modules/skeleton-css/css/normalize.css'
@import '../../node_modules/skeleton-css/css/skeleton.css'

// Styling for the navbar
@import './nav.styl'
@import './layout.styl'
@import './searchbar.styl'
@import './cocktailCard.styl'
@import './cocktailCluster.styl'
@import './clusterColors.styl'

.container
  margin-top 1em
  min-width 80%

.hidden
  display none

.bold
  font-weight bold

.center
  text-align center
