@import '../../node_modules/skeleton-css/css/normalize.css'
@import '../../node_modules/skeleton-css/css/skeleton.css'

// Styling for the navbar
@import './nav.styl'
@import './layout.styl'
@import './cocktailCard.styl'
