nav
  height 3em

nav ul
  list-style-type none
  height 100%
  margin 0
  padding 0
  overflow hidden
  background-color #91013f

nav li
  display inline-block
  float left
  height 100%
  margin-bottom 0

nav li a
  display table
  color white
  height 100%
  padding 0 14px
  font-weight bold
  text-decoration none

nav li a div
  display table-cell
  height 100%
  vertical-align middle

nav li a.brand div img
  background-color rgba(255, 255, 255, 0.3)
  border-radius 100%
  vertical-align middle
  margin-right 2px

nav li a:hover
  color white
  background-color #990033

nav li .active
  background-color #ffa64d
